div.img {
	float: right;
	margin: 0 0 15px 20px;
	padding: 20px;
}

body {
	position: relative;
}

.affix {
	top: 20px;
}

div.col-sm-9 div {
	max-height: 550px;
	font-size: 20px;
}

#section1 {color: #fff; background-color: darkgreen; padding-left:10px;}
#section2 {color: #fff; background-color: darkgreen; padding-left:10px;}
#section3 {color: #fff; background-color: darkgreen; padding-left:10px;}
#section4 {color: #fff; background-color: darkgreen; padding-left:10px;}
#section5 {color: #fff; background-color: darkgreen; padding-left:10px;}
#section6 {color: #fff; background-color: darkgreen; padding-left:10px;}
#section7 {color: #fff; background-color: darkgreen; padding-left:10px;}
#section8 {color: #fff; background-color: darkgreen; padding-left:10px;}
#section9 {color: #fff; background-color: darkgreen; padding-left:10px;}

@media screen and (max-width: 1500px) {
	#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9  {
    margin-left: 150px;
	}
}